/*
TO FIX
1. button size changes from play again to game start
*/

body {
    font-family: 'Rubik', serif;
}

#screen-play {
    border: 1px solid black;
    height: 750px;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#content {
    /* border: 3px solid red; */
    width: auto;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#start-btn {
    background-color: #e6b1d0;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    height: 80px;
    width: 150px;
    /* padding: 30px; */
    font-family: "Rubik", serif;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,.8);

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

#game-board {
    background-color: #f5dff1;
    border: 1px solid black;
    border-radius: 10px;
    height: 410px;
    width: 410px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card { 
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 5 px solid black;
    border-radius: 5px;
    background-size: cover;

}

#countdown {
    color: black;
    font-size: 20px;
}